Assignment

In [2]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/FitnessCustomers.csv"
df = pd.read_csv(url)

In [4]:
df.head()

,CustomerID,Age,Gender,Weight,Height,BMI,ExerciseTime,Smoking,Alcohol,CaloriesIntake,StepsDay,FitnessGoal,Status,MembershipType,Region
0,CUST1000,56,Male,72,181,22.0,11,No,No,2034,12940,Maintenance,Off Track,Premium,West
1,CUST1001,46,Female,75,180,23.1,69,No,No,3216,9240,Weight Loss,On Track,Premium,East
2,CUST1002,32,Female,83,165,30.5,16,No,Yes,2816,14363,Muscle Gain,Off Track,Premium,South
3,CUST1003,60,Female,95,181,29.0,114,No,No,2532,6408,Weight Loss,Off Track,Premium,West
4,CUST1004,25,Male,83,181,25.3,18,No,Yes,2794,4861,Muscle Gain,Off Track,Basic,South

In [5]:
shape = df.shape
print("Shape:", shape)

Shape: (1000, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      1000 non-null   object
 1   Age             1000 non-null   int64
 2   Gender          1000 non-null   object
 3   Weight          1000 non-null   int64
 4   Height          1000 non-null   int64
 5   BMI             1000 non-null   float64
 6   ExerciseTime    1000 non-null   int64
 7   Smoking         1000 non-null   object
 8   Alcohol         1000 non-null   object
 9   CaloriesIntake  1000 non-null   int64
 10  StepsDay        1000 non-null   int64
 11  FitnessGoal     1000 non-null   object
 12  Status          1000 non-null   object
 13  MembershipType  1000 non-null   object
 14  Region          1000 non-null   object
dtypes: float64(1), int64(6), object(8)
memory usage: 117.3+ KB

In [7]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
CustomerID        0
Age               0
Gender            0
Weight            0
Height            0
BMI               0
ExerciseTime      0
Smoking           0
Alcohol           0
CaloriesIntake    0
StepsDay          0
FitnessGoal       0
Status            0
MembershipType    0
Region            0
dtype: int64

In [10]:
genderUnique = df['Gender'].unique()
print("Unique values in Gender:",genderUnique )

Unique values in Gender: ['Male' 'Female']

In [11]:
print("Gender Distribution:")
print(df['Gender'].value_counts())

Gender Distribution:
Male      526
Female    474
Name: Gender, dtype: int64

In [12]:

print("Membership Type Distribution:")
print(df['MembershipType'].value_counts())

Membership Type Distribution:
Basic      502
Premium    498
Name: MembershipType, dtype: int64