In [1]:
import pandas

In [2]:
url ="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/FitnessCustomers.csv"

In [3]:
df = pandas.read_csv(url)

In [4]:
df.head()

,CustomerID,Age,Gender,Weight,Height,BMI,ExerciseTime,Smoking,Alcohol,CaloriesIntake,StepsDay,FitnessGoal,Status,MembershipType,Region
0,CUST1000,56,Male,72,181,22.0,11,No,No,2034,12940,Maintenance,Off Track,Premium,West
1,CUST1001,46,Female,75,180,23.1,69,No,No,3216,9240,Weight Loss,On Track,Premium,East
2,CUST1002,32,Female,83,165,30.5,16,No,Yes,2816,14363,Muscle Gain,Off Track,Premium,South
3,CUST1003,60,Female,95,181,29.0,114,No,No,2532,6408,Weight Loss,Off Track,Premium,West
4,CUST1004,25,Male,83,181,25.3,18,No,Yes,2794,4861,Muscle Gain,Off Track,Basic,South

In [6]:
df = df[['CustomerID','Age','Weight','Height','BMI','ExerciseTime','CaloriesIntake']]

In [7]:
df.head()

  CustomerID  Age  Weight  Height   BMI  ExerciseTime  CaloriesIntake
0   CUST1000   56      72     181  22.0            11            2034
1   CUST1001   46      75     180  23.1            69            3216
2   CUST1002   32      83     165  30.5            16            2816
3   CUST1003   60      95     181  29.0           114            2532
4   CUST1004   25      83     181  25.3            18            2794

In [10]:
print(df['Age']**2)

0      3136
1      2116
2      1024
3      3600
4       625
       ...
995     484
996    1600
997     729
998    3721
999     361
Name: Age, Length: 1000, dtype: int64

In [11]:
print(df['Age']-3)

0      53
1      43
2      29
3      57
4      22
       ..
995    19
996    37
997    24
998    58
999    16
Name: Age, Length: 1000, dtype: int64

In [17]:
print("BMI of Customers Calculated: ")
print(df['Weight']*10000/df['Height']**2)

print(" Original")
print(df['BMI'])

BMI of Customers Calculated:
0      21.977351
1      23.148148
2      30.486685
3      28.997894
4      25.335002
         ...
995    25.721032
996    27.580200
997    31.161374
998    14.127424
999    16.305062
Length: 1000, dtype: float64
 Original
0      22.0
1      23.1
2      30.5
3      29.0
4      25.3
       ...
995    25.7
996    27.6
997    31.2
998    14.1
999    16.3
Name: BMI, Length: 1000, dtype: float64

In [18]:
print(df['BMI'].mean())

24.5809

In [22]:
print(df['BMI'].median())

24.0

In [24]:
print(df['Age'].mode())

0    43
Name: Age, dtype: int64